
<ng-container *ngIf="this.data.name; then update; else newp">
</ng-container>
<ng-template #newp>
<div class="modal-header">
     <h2 class="title">   Create New Tag</h2>
      </div>
    </ng-template>    
    
    <ng-template #update>
<div class="modal-header">
        <h2 class="title">   Edit Tag</h2> <button type="button" class="btn btn-danger" style="position:relative; top:5px" (click)="delete(id)">
            <i class="fa fa-trash"></i> delete
        </button>  
         </div>
       </ng-template>    

      <div class="modal-body">
          <form [formGroup]="form" >
          <div class="form-group">
            <label for="Name">Name</label>
            <div class="input-group">
                <textarea name="Text1" cols="40" rows="1" class="form-control"  formControlName="Name" required></textarea><p></p>
              <div *ngIf="Name.invalid && (Name.dirty || Name.touched)"
              class="alert alert-danger">
            <div *ngIf="Name.errors?.required">
                Name is required.
            </div>
              <div class="input-group-append">
              </div>
        </div>
    </div>
          </div>
        </form>
        </div>

      <div class="modal-footer"> 
          <button type="button" class="btn btn-danger" (click)="close()"><i class="fa fa-close"></i>  Cancel</button>
        
          <ng-container *ngIf="this.data.name; then updateb; else newpb">
        </ng-container>
          <ng-template #updateb>
            <button type="button" class="btn btn-success"  
            (click)="updatetag()"><i class="fa fa-folder"></i>  Edit</button>
        </ng-template>
          <ng-template #newpb>
            <button type="button" class="btn btn-success"  (click)="save()"><i class="fa fa-folder"></i>  Save</button>
        </ng-template>  </div>