.title{
    font-weight: 500;
}
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
 
  @media screen and (min-width: 2500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 2000px;
    }
  }