
  <div class="modal-header">
    <h2 class="title">{{this.name}}</h2> 
    
  </div>
  <div class="modal-body">
    <label for="Project" >Selected Project</label>
    <h3>{{this.project}}</h3>
    <label for="days" >Number of days used on the selected project</label>
    <h3>{{this.days}} days</h3>
    <label for="hours" >Number of hours used on the selected project</label>
    <h3>{{this.hours}} hours</h3>





    
  </div>

  <div class="modal-footer"> <button type="button" class="btn btn-danger" (click)="close()"><i class="fa fa-close"></i>  close</button>
  </div>