
  <div class="modal-header">
    <h2 class="title">{{this.name}} {{this.surname}}</h2> 
    <button type="button" class="btn btn-danger" style=" position: relative;
    top: 5px;" (click)="close()"><i class="fa fa-close"></i>  </button>
  </div>
  <div class="modal-body">
    <label for="Project" >Selected Project</label>
    <h3>{{this.project}}</h3>
    <label for="days" >Number of days used on the selected project</label>
    <h3>{{this.days}} days</h3>
    <label for="hours" >Number of hours used on the selected project</label>
    <h3>{{this.hours}} hours</h3>





    
  </div>
