<div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
        <h2 class="title">Projeto:{{ this.name }}</h2>
    </div>
    <!-- <button type="button" class="closes" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button> -->
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="hoursSpent">Hours</label>
            <div class="input-group">
                <input
                    type="number"
                    class="form-control"
                    min="1"
                    max="8"
                    id="hours"
                    formControlName="hoursSpent"
                    required
                />
                <div
                    *ngIf="hoursSpent.invalid && (hoursSpent.dirty || hoursSpent.touched)"
                    class="alert alert-danger"
                >
                    <div *ngIf="hoursSpent.errors?.required">hours are required.</div>
                    <div *ngIf="hoursSpent.errors?.min">hours must be at least 1.</div>
                    <div *ngIf="hoursSpent.errors?.max">hours must not be more than 8.</div>
                    <div class="input-group-append"></div>
                </div>
            </div>
            <p></p>
            <label for="observations">Observation</label>
            <div class="input-group">
                <!-- <input word-break:break-word; type="text" class="form-control"  formControlName="observations" required><p></p> -->
                <textarea
                    name="Text1"
                    cols="40"
                    rows="4"
                    class="form-control"
                    formControlName="observations"
                    required
                ></textarea>
                <p></p>
                <!-- <textarea id="observation"  class="ta" formControlName="observation"> -->
                <div
                    *ngIf="observations.invalid && (observations.dirty || observations.touched)"
                    class="alert alert-danger"
                >
                    <div *ngIf="observations.errors?.required">observation is required.</div>
                    <div class="input-group-append"></div>
                </div>
            </div>
            <br />
            <label for="exterior">External</label>
            <div class="input-group">
                <mat-slide-toggle class="toggle" formControlName="exterior"></mat-slide-toggle>
                <div class="input-group-append"></div>
            </div>
            <!-- <mat-slide-toggle class="toggle"></mat-slide-toggle>              -->
            <br />
            <label for="External">Training</label>
            <div class="input-group">
                <mat-slide-toggle class="toggle" formControlName="training"></mat-slide-toggle>
                <div class="input-group-append"></div>
            </div>
            <br />
            <label for="Tag">Tags</label>
            <div class="input-group">
                <mat-form-field appearance="fill" class="type">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="tagIds" disableOptionCentering  multiple>
                        <mat-option *ngFor="let tag of autocompleteItemsAsObjects" [value]="tag.id">
                            {{ tag.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="input-group-append"></div>
            </div>
            <!-- <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="selection" formControlName="tagIds">
                  <mat-chip *ngFor="let fruit of autocompleteItemsAsObjects" [selectable]="selectable"
                           [removable]="removable" >
                    {{fruit.name}}
                    <button matChipRemove *ngIf="removable">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="New Tag..."
                  #fruitInput
                  formControlName="tagIds"
                  [matAutocomplete]="auto"

                                           [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                              {{fruit}}
                            </mat-option>
                          </mat-autocomplete>
              </mat-form-field> -->
            <!-- <tag-input  [onlyFromAutocomplete]="true"       formControlName="tagIds"       
            >
                <tag-input-dropdown class="dropd"
                    [showDropdownIfEmpty]="true"
                    [focusFirstElement]="true"
                    [displayBy]="'name'"
                    [identifyBy]="'id'"
                    [autocompleteItems]="autocompleteItemsAsObjects"
                > -->
                    <!-- <ng-template let-item="item" let-index="index"                     
                    >
                        ({{ index }}) {{ item.id }}: {{ item.value }}
                    </ng-template>  -->
                 <!-- </tag-input-dropdown>
            </tag-input> -->


          <!-- <tag-input
                [(ngModel)]="newtags"
                [ngModelOptions]="{ standalone: true }"
                (onAdd)="onAdding($event.value)"
            >   

            </tag-input> -->
            <!-- <label>Tags</label>
            <ng-select 
          
            [items]="responseRawGenreList"
                       bindLabel="name"
                       bindValue="id"
                       [addTag]="addCustomtag"
                       [multiple]="true"
                       placeholder="Select tag or add custom tag"
                       [(ngModel)]="newtags"
                       formControlName="tagid">
                       
            </ng-select> -->

            <!-- <label for="training" class="col-form-label">Training</label><p></p>
              <mat-slide-toggle class="toggle"  ></mat-slide-toggle>               -->
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">
        <i class="fa fa-close"></i> Cancel
    </button>
    <button type="button" class="btn btn-success" (click)="save()">
        <i class="fa fa-folder"></i> Save
    </button>
    <!-- <button type="button" class="btn btn-success" (click)="savetags()">
        <i class="fa fa-folder"></i> Savetags
    </button> -->
</div>
